* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  /* transition: 2s; */
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #e2dce2;
  font-family: Quicksand, Georgia, Times, 'Times New Roman', serif;
  overflow-x: hidden;
  /* transition: 2s; */
}

.pageCover {
  position: relative;
  background-image: url(./assets/images/rst.webp);
  height: 95vh;
  top: 40px;
  background-color: #0f3d3d;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 200px;
  /* transition: 2s; */
}

.overlay {
  background-color: #41073fa0;
  width: 100%;
  z-index: 10;
  height: 95vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp {
  position: fixed;
  bottom: 25px;
  color: rgb(207, 211, 209);
  font-size: 30px;
  cursor: pointer;
  padding: 15px;
  background-color: #420b2d;
  border-radius: 50%;
  margin-left: 8px;
  z-index: 102;
}
.whatsapp:hover {
  background-color: #044a07;
}

.landingContent {
  font-family: 'Quicksand';
  position: relative;
  margin: auto;
  color: rgb(195, 197, 199);
  width: 40%;
  background-color: #41073fc1;
  padding: 20px 40px;
  box-shadow: 0px 10px 10px #c1c0c0, 0px -3px 5px #f9f6f6;
  border-radius: 0 0 20px 20px;
  text-align: center;
  /* transition: 2s; */
}

.landingContent h1 {
  font-family: 'Montserrat Alternates', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5em;
  word-spacing: 10px;
  line-height: 1.8em;
}
.whatsappChat {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 1.4em;
}
.innerWhatsapp {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 10px 30px;
  background-color: #4a0440;
  border-radius: 10px;
  color: #d9dbdb;
  border: 2px solid #cc73b1;
  box-shadow: 0 9px #cc73b1;
  font-weight: 800;
}
.heroButton {
  padding: 11px 30px;
  background-color: #6e2858;
  font-size: 16px;
  border: 2px solid #cc73b1;
  border-radius: 5px;
  margin: 15px;
  cursor: pointer;
  box-shadow: 0 9px #cc73b1;
  color: #b8b9b8;
  font-weight: 800;
}
.heroButton:hover,
.innerWhatsapp:hover {
  background-color: #0d550f;
  font-weight: 800;
}
.heroButton:active,
.innerWhatsapp:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.moreParagraph {
  line-height: 25px;
  display: flex;
  justify-content: center;
}
.moreParagraph p {
  max-width: 600px;
  font-size: 1.3em;
  line-height: 35px;
  /* border: 5px solid #; */
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 4px 8px 8px white, -4px -4px 4px #fae7f7;
  margin-bottom: 50px;
  text-align: center;
}
.moreParagraph a {
  text-decoration: none;
  color: #3b293b;
  font-weight: 800;
}
.divider {
  position: absolute;
  top: 97%;
}
.chooseUs {
  /* position: relative; */
  z-index: 10;
}
.chooseUs h1 {
  font-size: 40px;
  margin: 100px;
  text-align: center;
}
.serviceIage {
  width: 40%;
  border-radius: 10px;
  box-shadow: 4px 4px 7px;
  cursor: pointer;
}
.imageDetails {
  display: flex;
  justify-content: space-around;
  margin: 60px;
  margin-bottom: 100px;
}
.imageDetails2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin: 60px;
  margin-bottom: 100px;
}

.pageContent {
  width: 40%;
  font-size: 18px;
  line-height: 35px;
  word-spacing: 5px;
}

.service {
  background-image: url(./assets/images/image7.webp);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay2 {
  background-color: #f4f3f435;
  width: 100%;
  /* z-index: 10; */
  height: 100%;
}
/* .service {
} */
.serviceCover {
  margin: 20px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serviceHeader {
  font-size: 3em;
  margin-block: 0.5em;
}
.servicePara {
  max-width: 800px;
  font-size: 1.5em;
  line-height: 30px;
  word-spacing: 10px;
  letter-spacing: 2px;
  background-color: #f9f7f7df;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 4px 4px 7px;
}

@media (max-width: 1300px) {
  .landingContent {
    width: 50%;
  }
  .serviceIage {
    width: 50%;
  }
  .fullPage {
    margin: 0 5%;
  }
}
@media (max-width: 1050px) {
  .landingContent {
    width: 70%;
  }
  .fullPage {
    margin: 0 2%;
  }

  .imageDetails {
    margin: 10px;
    justify-content: space-around;
  }
  .imageDetails2 {
    justify-content: space-around;
    margin: 10px;
  }
}
@media (max-width: 910px) {
  .serviceIage {
    width: 50%;
    max-height: 400px;
  }
  .pageContent {
    font-size: 1.2em;
  }
}
@media (max-width: 800px) {
  .pageCover {
    height: 65vh;
  }
  .overlay {
    z-index: 10;
    height: 65vh;
  }
  .reduceLink {
    padding: 20px;
  }
  .pageContent {
    font-size: 1em;
    width: 90%;
  }
  .landingContent h1 {
    font-size: 2em;
  }
  .chooseUs h1 {
    font-size: 2em;
    line-height: 50px;
  }
  .imageDetails,
  .imageDetails2 {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
  .dividerParent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .contentDivider {
    width: 70%;
    height: 2px;
    background-color: #41073f;
  }
  .serviceIage {
    width: 95%;
    max-height: 670px;
  }
}
@media (max-width: 600px) {
  .pageCover {
    margin-bottom: 120px;
  }
  .landingContent {
    padding: 10px;
    width: 80%;
  }
  .landingContent h1 {
    font-size: 1.8em;
    line-height: 45px;
  }
  .servicePara {
    max-width: 400px;
    font-size: 1.2em;
  }
  .moreParagraph p {
    max-width: 400px;
    font-size: 1.2em;
    line-height: 30px;
    /* border: 5px solid #; */
    padding: 10px 20px;
  }
  .chooseUs h1 {
    font-size: 30px;
    margin: 30px;
  }
}
@media (max-width: 500px) {
  .pageCover {
    /* height: 70vh; */
  }
  .overlay {
    z-index: 10;
    /* height: 70vh; */
  }
  .pageContent {
    font-size: 1em;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .servicePara {
    font-size: 1em;
    padding: 12px;
    line-height: 23px;
  }
  .moreParagraph p {
    max-width: 350px;
  }
  .whatsappChat {
    font-size: 1.2em;
  }
  .innerWhatsapp {
    gap: 5px;
    padding: 10px 15px;
  }
}
@media (max-width: 400px) {
  .landingContent {
    width: 90%;
  }
  .landingContent h1 {
    font-size: 1.4em;
    line-height: 33px;
  }

  .chooseUs h1 {
    font-size: 25px;
    margin: 10px;
    line-height: 35px;
  }
  .moreParagraph p {
    max-width: 280px;
    font-size: 1em;
  }
  .serviceCover {
    margin: 10px;
    border-radius: 30px;
  }
}
