.aboutContainer {
  /* z-index: 1; */
  padding: 40px 0px;
  position: relative;
}
.aboutFront {
  background-image: url('../../assets/images/aboutbg.jpg');
  background-attachment: fixed;
  color: #e0dddd;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.iconStyle {
  top: 10px;
  left: 10px;
}

.aboutContainer h2 {
  margin: 30px 0;
  font-weight: 900;
}
.aboutOverlay {
  position: absolute;
  padding: 2px;
  width: 100%;
  height: 500px;
  background: repeating-linear-gradient(130deg, #42022d, #44022f88 55%, #f5f3f340 55% 100%);
}
.aboutMain {
  display: inline-block;
  position: absolute;
  padding: 70px 50px;
}
.aboutMain h2 {
  font-size: 50px;
  text-align: left;
  font-family: 'Montserrat Alternates', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
  color: #38d3fd;
}
.aboutMain p {
  width: max(54%, 380px);
  line-height: 35px;
  font-size: 16.5px;
  text-shadow: 2px 0px #131212;
}
.call-us {
  color: #dddbdb;
}

.aboutMain {
  color: #f1f0ee !important;
}

.moreAbout {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.moreAbout h1 {
  margin-top: 20px;
}
.aboutStory {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  border-bottom: 2px solid;
  border-top: 2px solid;
  padding: 20px;
  margin: 40px 0;
  justify-content: center;
}
.imageSection {
  position: relative;
}
.aboutPic {
  border-radius: 50%;
  background-image: url(../../assets/images/bg.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 400px;
  object-fit: cover;
  border: 2px solid rgba(255, 255, 255, 0);
  /* filter: blur(10px); */
}
.imageSection p {
  position: absolute;
  top: 0px;
  background: repeating-linear-gradient(#42022d00, #44022f00 80%, #4f0341 80% 100%);
  height: 400px;
  width: 400px;
  color: #f1f0ee;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 3px;
  text-align: center;
  font-size: 1em !important;
  border: 2px solid;
}
.teamMembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.teampic {
  background-image: url(../../assets/images/bgteam.jpg) !important;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
.teamMem:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.teamMem p {
  height: 300px;
  width: 300px;
  font-size: 0.8em !important;
  background: repeating-linear-gradient(#42022d00, #44022f19 70%, #39033b 80% 100%);
}
.aboutStory section {
  max-width: 800px;
}
.aboutStory p {
  line-height: 30px;
  word-spacing: 5px;
  font-size: 1.3em;
}
.ourstory {
  max-height: 200px;
  overflow: auto;
}

.aboutApart {
  max-width: 800px;
  background-color: #fcc3e9;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 30px 0;
}
.aboutApart h3 {
  text-align: center;
  font-weight: bolder;
  color: #42022d;
  margin: 40px;
  margin-bottom: 60px;
}
.aboutApart p {
  text-decoration: overline;
  font-weight: 800;
}
.aboutApart p:hover {
  font-weight: 800;
}
.apartDetails {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 1.4em;
}
.apartDetails span {
  font-size: 0.8em;
  line-height: 30px;
  word-spacing: 5px;
  letter-spacing: 1px;
}
.aboutChoose {
  background-image: url('../../assets/images/chooseImage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 100px;
  text-align: center;
  line-height: 32px;
  word-spacing: 3px;
  /* letter-spacing: 1px; */
}
.aboutChooseMore {
  background-color: #0a0a0ab8;
  color: rgb(210, 213, 215);
  padding: 20px 30px;
  border-radius: 10px;
}
.moreChoose {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  margin: 50px auto;
}

.moreChoose section:hover {
  background-color: #fcc3e9;
  color: #252525;
  border-radius: 10px;
}
.moreChoose h4 {
  font-size: 24px;
  color: #9b9999;
}
.moreChoose p {
  font-size: 18px;
}
.chooseUsIcon {
  padding: 30px;
  background-color: #7d0555;
  font-size: 60px;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 20;
}
.chooseUsIcon:hover {
  padding: 30px;
  background-color: #cdcccd;
  border: 2px solid #7d0555;
  color: #42022d;
}
.chooseMagic {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.chooseMagic section {
  max-width: 800px;
}
@media (max-width: 1200px) {
  .aboutChoose {
    padding: 50px;
    line-height: 25px;
  }
  .moreChoose h4 {
    font-size: 20px;
    text-wrap: nowrap;
    margin: 20px 0 -5px;
  }
  .moreChoose p {
    font-size: 16px;
  }
  .chooseUsIcon {
    padding: 25px;
    font-size: 40px;
    z-index: 20;
  }
  .chooseUsIcon:hover {
    padding: 25px;
  }
}
@media (max-width: 1000px) {
  .aboutOverlay {
    background: repeating-linear-gradient(130deg, #42022d, #44022f88 65%, #f5f3f300 55% 100%);
  }
  .aboutMain p {
    width: max(68%, 380px);
    background-color: #1312128f;
    padding: 0 10px;
  }
  .moreChoose {
    flex-wrap: wrap;
  }
  .aboutPic {
    height: 300px;
    width: 300px;
  }
  .imageSection p {
    height: 300px;
    width: 300px;
  }
  .teampic {
    height: 200px;
    width: 200px;
  }
  .teamMem p {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 850px) {
  .aboutStory section {
    max-width: 500px;
  }
  .aboutMain p {
    width: 80%;
  }
  .aboutStory {
    flex-direction: column-reverse;
  }
}
@media (max-width: 650px) {
  .aboutMain p {
    font-size: 16px;
  }
  .teamMembers {
    display: flex;
    gap: 20px;
  }
}
@media (max-width: 591px) {
  .aboutContainer h2 {
    font-size: 30px;
  }
  .aboutMain {
    padding: 80px 30px;
  }
  .aboutMain p {
    width: 100%;
    line-height: 30px;
    border-radius: 10px;
    max-height: 300px;
    overflow: auto;
  }

  ::-webkit-scrollbar {
    background: #bdbbbb;
    border-radius: 3px;
    width: 3px;
  }

  .aboutStory {
    max-width: 400px;
    font-size: 14px;
    flex-direction: column-reverse;
  }
  .aboutPic {
    height: 200px;
    width: 200px;
  }
  .imageSection p {
    background: repeating-linear-gradient(#42022d00, #44022f00 68%, #5e014e 68% 100%);
    height: 200px;
    width: 200px;
  }

  .aboutApart {
    padding: 25px 20px;
    margin: 20px 5px;
  }
  .aboutApart p {
    font-size: 20px;
  }
  .apartDetails {
    gap: 20px;
    font-size: 1.2em;
  }
  .apartDetails span {
    line-height: 25px;
  }
  .chooseMagic p {
    line-height: 30px;
    font-size: 0.8em;
  }
}
@media (max-width: 480px) {
  .aboutStory {
    max-width: 400px;
    font-size: 0.8em;
  }
  .aboutChooseMore {
    padding: 20px;
  }
  .aboutChoose {
    padding: 20px;
    line-height: 20px;
  }
}
@media (max-width: 350px) {
  .aboutChooseMore {
    padding: 10px;
  }
  .chooseMagic h3 {
    line-height: 30px;
  }

  .chooseMagic p {
    line-height: 25px;
  }
}
