/* .slideContainer {
  width: 95%;
} */
.slideHeading {
  text-align: center;
  font-size: 2em;
}
.sliderIage {
  width: 80%;
  border-radius: 20px;
  margin-top: 10px;
}
.sliderOverlay {
  cursor: pointer;
  position: absolute;
  background-color: #f2e1f431;
  border-radius: 20px;
  top: 0;
  width: 80%;
  height: 100%;
}
.sliderOverlay:hover {
  background-color: #9f04b400;
}
.slider-container {
  /* overflow: hidden; */
  position: relative;
  width: 95%;
  margin: auto;
  margin-bottom: 100px;
  box-shadow: 0px 10px 10px #310337, 0px -5px 10px #5f056b;
}
.slideHolder {
  position: relative;
}
.slick-prev,
.slick-next {
  color: black;
  background-color: rgb(107, 4, 84);
  border-radius: 50%;
}
@media (max-width: 800px) {
  .slideContainer {
    display: none;
  }
}
