.services {
  position: relative;
  padding: 50px 0px;
  background-color: #e2dce2;
}
.serviceFront {
  background-image: url("../../assets/images/image25.jpg");
  background-attachment: fixed;
  color: #e0dddd;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.iconStyle {
  margin-bottom: 20px;
}
.aboutOverlay {
  position: absolute;
  padding: 2px;
  width: 97%;
  height: 500px;
  background: repeating-linear-gradient(
    130deg,
    #42022d,
    #44022f88 55%,
    #f5f3f340 55% 100%
  );
}
.serviceMain {
  display: inline-block;
  position: absolute;
  padding: 30px 50px;
}
.serviceMain h2 {
  font-size: 50px;
  text-align: left;
  font-family: "Montserrat Alternates", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  color: #38d3fd;
}
.serviceMainPara {
  max-height: 320px;
  max-width: 500px;
  overflow: auto;
}
.serviceMainPara p::first-letter {
  font-weight: 900;
  color: #38d3fd;
  font-size: 1.3em;
}
.serviceMainPara p {
  font-size: 16px !important;
  margin-bottom: 2px;
  word-spacing: 5px;
  letter-spacing: 1px;
}
.serviceButton {
  padding: 20px 30px;
  border-radius: 10px;
  color: #871173;
  font-weight: 900;
}
.serviceButton:hover {
  color: #e2dce2;
  background-color: #871173;
  border: none;
}
.accordion-body {
  padding: 0;
}
.accordion-item {
  margin: 10px;
  background-color: #f5ebf5;
}
.accordion-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-button {
  color: #871173;
  font-size: 0.7em;
  font-weight: 700;
  border-radius: 10px;
  margin: 10px 0;
  max-width: 400px;
  background: #f7b3eb;
}
.genImage {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
.genImage img {
  max-width: 310px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
}
.genImage {
  /* background-color: #afafaf; */
}
.genImage video {
  max-width: 350px;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .serviceMain {
    padding: 30px;
  }
}
@media (max-width: 400px) {
  .serviceMain {
    padding: 20px;
  }

  .accordion {
    width: 100% !important;
  }
  .services {
    padding: 50px 5px;
    /* margin-top: 50px; */
  }
  .serviceHead {
    font-size: 35px !important;
    margin-bottom: 15px;
  }
  .serviceButton {
    padding: 8px 18px;
    border-radius: 10px;
    color: #871173;
    font-weight: 900;
  }
  .genImage img {
    max-width: 290px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
  }
  .genImage video {
    width: 98%;
  }
}
