.services {
  position: relative;
  padding: 100px 20px;
  background-color: #e2dce2;
  /* margin-top: 50px; */
}
.accordion-body {
  padding: 0;
}
.accordion-item{
  margin: 10px;
  background-color: none;
}
.accordion-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion-button {
  color: #871173;
  font-size: 0.7em;
  font-weight: 700;
  border-radius: 10px;
  margin: 10px 0;
  max-width: 400px;
  background: #f7b3eb;
}
.genImage {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
.genImage img {
  max-width: 300px;
  max-height: 320px;
  border-radius: 20px;
  object-fit: cover;
}
@media (max-width: 400px) {
  .services {
    padding: 50px 5px;
    /* margin-top: 50px; */
  }
}
