.footer {
  background-color: rgb(68, 2, 59);
  padding: 2em;
  color: #d2d7dc;
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.imageFooter {
  width: 100px;
  border-radius: 10px;
  /* margin-top: 20px; */
}
.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
.lowerFooter {
  color: aliceblue;
  background-color: rgb(47, 8, 41);
  padding: 10px;
  text-align: center;
}
.footerLinks {
  padding: 0;
  margin: 3px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerLinks a {
  font-family: Quicksand, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  color: #a2a5a7;
}
.footerLinks a span {
  font-size: 18px;
  font-weight: 700;
}
.socialLinks {
  padding: 0;
  margin: 3px;
  list-style: none;
  display: flex;
  gap: 20px;
}
.socialLinks li a {
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  color: #d2d7dc;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  width: 25px;
}
.socialLinks li a:hover {
  color: #454646;
  background-color: #d2d7dc;
}
.serviceList {
  padding: 3px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.serviceList a {
  text-decoration: none;
  color: #a2a5a7;
}
.socialPara {
  max-width: 250px;
}
